{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="container">
<div class="row">
  <div class="col-12 mb-5 mt-5 ">
      <!-- Profile widget -->
        <div class="px-4 pt-0 pb-4 bg-dark">
          {% for uu in author %}
              <div class="media align-items-end profile-header">
                  <div class="profile mr-3"><img src="{{ uu.profile_picture.url}}" alt="..." width="130" class="rounded-circle mt-3 img-thumbnail"><a href="#" class="btn btn-dark btn-sm btn-block">Edit profile</a></div>
                  <div class="media-body p-5 text-white">
                    <h4 class="mt-0 mb-4">{{ user }}</h4>{{ user.profile_picture }}
                    <!-- <h4 class="mt-0 mb-4">{{ user }}</h4>{{ user.firstName }} -->
                  </div>
              </div>
          {% endfor %}
        </div>
    </div>
    <main class="posts-listing">
        <div class="container">
          <div class="row">
          {% for post in posts %}
            <!-- post -->
            <div class="post col-sm-4">
              <div class="post-thumbnail"><a href="{{ post.get_absolute_url }}"><img src="{{ post.thumbnail.url }}" alt="..." class="img-fluid"></a></div>
              <div class="post-details">
                <div class="post-meta d-flex justify-content-between">
                  {% comment %} <div class="date meta-last">20 May | 2016</div> {% endcomment %}
                  <div class="category">
                  {% for cat in post.categories.all %}
                    <a href="#">{{ cat }}</a>
                  {% endfor %}
                  </div>
                </div>
                <a href="{{ post.get_absolute_url }}">
                  <h3 class="h4">{{ post.title }}</h3>
                </a>
                <p class="text-muted">{{ post.overview }}</p>
                <footer class="post-footer d-flex align-items-center">
                  <!-- <a href="accounts/profile/" class="author d-flex align-items-center flex-wrap">
                    <div class="avatar"><img src="{{ post.author.profile_picture.url }}" alt="..." class="img-fluid"></div>
                    <div class="title"><span>{{ post.author.user.user_id }}</span></div>
                  </a> -->
                  <div class="date"><i class="icon-clock"></i>{{ post.timestamp|timesince }} ago</div>
                  <div class="comments meta-last"><i class="icon-comment"></i>{{ post.comment_count }}</div>
                </footer>
              </div>
            </div>
            {% endfor %}
          </div>
          <!-- Pagination -->
          <nav aria-label="Page navigation example">
            <ul class="pagination pagination-template d-flex justify-content-center">
              {% if post.has_previous %}
              <li class="page-item"><a href="?{{ page_request_var }}={{ queryset.previous_page_number }}" class="page-link"> <i class="fa fa-angle-left"></i></a></li>
              {%  endif %}
              <li class="page-item"><a href="?{{ page_request_var }}={{ queryset.number }}" class="page-link active">{{ queryset.number }}</a></li>

              {% if post.has_next %}
              <li class="page-item"><a href="?{{ page_request_var }}={{ queryset.next_page_number }} " class="page-link"> <i class="fa fa-angle-right"></i></a></li>
              {% endif %}
            </ul>
          </nav>
        </div>
    </main>
  </div>
</div>


{% endblock content %}
